@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Подтверждение смены пароля</PageTitle>

<h1>Подтверждение смены пароля</h1>
<p>
    Проверьте адрес электронной почты для завершения процедуры смены пароля.
</p>
